OPENAI_API_KEY=sk-proj-.....
PEXELS_API_KEY=sHElqJQHS9....
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"ai-....}
GOOGLE_GENAI_API_KEY=AIza....
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIza...
SUPABASE_PG_DB_PASSWORD=4bxC...
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxxxxx.xxxxx.xxxxxxx